.navbar ul li a{
    font-size: 18px;
    color: black;
}
.navbar ul li a:hover{
    color: rgb(1, 140, 57);
}

.banner-img{
    background-image: url(image/hero-bg.jpg);
    background-size: cover;
}
.banner-overlay{
    height: 93vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.banner{
    background-color: black;
}
.banner a.btn{
    border: 1px solid white;
}
.banner a.btn:hover{
    border: 1px solid #198754;
    transition-duration: 0.3s;
}

#section3 a.arrow:hover{
    background-color: #26a369;
    border-color: #26a369;
    transition-duration: 0.3s;
}